*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    padding-bottom: 80px;
    min-height: calc(100vh - 120px); 
    background-color: #c2cbfd;
}

nav{
    background-color: #021859;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 5px 20px;
}

.logoHeader{
    width: 3em;
}

.menulink{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 15px; 
    padding: 0;
    margin: 0;
}

.menulink a, .menulink a:visited{
    text-decoration: none;
    color: #008b8b;
    font-weight: bolder;
}

.menulink a:hover{
    color: #01acac;
}

#descricao_grupo{
    margin: 1em 1em;
    padding:1em 3em;
}

#banda{
    margin: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.col-3.text-center{
    margin: 0;
    border: 1px solid #566be2;
    border-radius: 10px;
    box-shadow: 2px 2px 2px;
}

.col-7.cols-md-5{
    margin-top: 5em;
    height: 320px;
    background-color: transparent;
    border: 2px solid #dfdfdf33;
    border-radius: 10px;
    color: #000000;
    box-shadow: 0 0 6px ;
    backdrop-filter: blur(50px);

}

.track{
    font-size: xx-large;
    text-align: left;
}

.player h2{
    margin: 1em;
}

#img-metal{
    margin-top: 5em;
}

footer{
    display: flex;
    justify-content: center;    
    padding: 1em;
    text-align: center;
    background-color: #7a8ae7;
}


